<c-vars required="false" type="text" :nolabel="False"/>

<div>
    {% if nolabel is False %}
        <label for="{{ field.id_for_label }}"
               class="input-label">
            {{ field.label }}
        </label>
    {% endif %}
    <input type="{{ type }}"
           name="{{ field.html_name }}"
           id="{{ field.id_for_label }}"
           value="{{ field.value | default_if_none:'' }}"
           placeholder="{% if type == "number" %}0{% else %}{{ field.help_text }}{% endif %}"
           class="{% if field.errors %}input-error{% else %}input{% endif %}"
           {% if required is True %}required{% endif %}
    >
    {% for err in field.errors %}
        <p class="input-error-message">
            {{ err }}
        </p>
    {% endfor %}
</div>
