{% load static django_htmx %}
<html>
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">
    <link
            href="{% static 'css/output.css' %}"
            rel="stylesheet">
    <script
            src="{% static 'js/htmx.min.js' %}"
            defer></script>
    <script
            src="{% static 'js/alpine.min.js' %}"
            defer></script>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
>

<!-- Header -->
{% include 'base/_header.html' %}
<div class="antialiased bg-gray-50 dark:bg-gray-900">
    <!-- Sidebar -->
    {% include 'base/_sidebar.html' %}

    <!-- Content -->
    <main class="lg:p-4 md:ml-64 h-auto pt-16 lg:pt-20">
        {% block content %}
        {% endblock content %}
    </main>
</div>
<!-- Footer -->
{% include 'base/_footer.html' %}

<!-- Messages -->
{% include 'base/_messages.html' %}

<!-- Flowbite js -->

<!-- https://django-htmx.readthedocs.io/en/latest/extension_script.html -->
{% django_htmx_script %}
<script
        src="{% static 'js/flowbite.min.js' %}"
        defer></script>
</head>
</body>
</html>