<nav
	class="bg-white border-b border-gray-200 px-4 py-4 dark:bg-gray-800
	dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
	<div class="flex flex-wrap justify-between items-center">
		<div class="flex justify-start items-center">
			<button
				data-drawer-target="drawer-navigation"
				data-drawer-toggle="drawer-navigation"
				aria-controls="drawer-navigation"
				class="p-2 mr-2 text-gray-600 rounded-lg cursor-pointer md:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
			>
				<svg
					aria-hidden="true"
					class="w-6 h-6"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill-rule="evenodd"
						d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
						clip-rule="evenodd"
					></path>
				</svg>
				<svg
					aria-hidden="true"
					class="hidden w-6 h-6"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill-rule="evenodd"
						d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
						clip-rule="evenodd"
					></path>
				</svg>
				<span class="sr-only">Toggle sidebar</span>
			</button>
			<!-- direcionar para dashboard -->
			<a
				href="#"
				class="flex items-center justify-between mr-4">
				<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Tabula Vestae</span>
			</a>

			<!--
			usar quando tiver busca
			<form action="#" method="GET" class="hidden md:block md:pl-2">
				<label for="topbar-search" class="sr-only">Search</label>
				<div class="relative md:w-64 md:w-96">
					<div
						class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
					>
						<svg
							class="w-5 h-5 text-gray-500 dark:text-gray-400"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
							></path>
						</svg>
					</div>
					<input
						type="text"
						name="email"
						id="topbar-search"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
						placeholder="Search"
					/>
				</div>
			</form>
			 -->
		</div>
		<div class="flex items-center lg:order-2">
			<!--
			usar quando tiver busca
			<button
				type="button"
				data-drawer-toggle="drawer-navigation"
				aria-controls="drawer-navigation"
				class="p-2 mr-1 text-gray-500 rounded-lg md:hidden hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
			>
				<span class="sr-only">Toggle search</span>
				<svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
					 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
					<path clip-rule="evenodd" fill-rule="evenodd"
						  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"></path>
				</svg>
			</button>
			 -->
			{% if user.is_authenticated %}
				<span
					class="block text-sm font-semibold text-gray-900 dark:text-white"
				>{{ user.username | title }}
				</span>
			<!-- Dropdown button -->
				<button
					type="button"
					class="flex mx-3 text-sm rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
					id="user-menu-button"
					aria-expanded="false"
					data-dropdown-toggle="dropdown"
				>
					<span class="sr-only">Open user menu</span>
					<svg
						class="w-6 h-6 text-gray-800 dark:text-white"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						fill="none"
						viewBox="0 0 24 24">
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-width="2"
							d="M12 6h.01M12 12h.01M12 18h.01"/>
					</svg>
				</button>
			{% else %}
				<a
					href="{% url 'account_login' %}"
					class="flex mx-3 text-sm rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
					id="user-login-button"
					aria-expanded="false"
				>
					<span class="sr-only">login page</span>
					<span
						class="block text-sm font-semibold text-gray-900 dark:text-white"
					>Login
				</span>
				</a>

			{% endif %}
			<!-- Dropdown menu -->
			<div
				class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 rounded-xl"
				id="dropdown"
			>
				<div class="py-3 px-4">

					<span
						class="block text-sm text-gray-900 truncate dark:text-white"
					>{{ user.email }}</span
					>
				</div>

				<ul
					class="py-1 text-gray-700 dark:text-gray-300"
					aria-labelledby="dropdown"
				>
					<li>
						<a
							href="#"
							class="flex items-center py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
						>
							<svg
								class="mr-2 w-5 h-5 text-gray-400"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									fill-rule="evenodd"
									d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
									clip-rule="evenodd"
								></path>
							</svg>
							Configurações</a
						>
					</li>
				</ul>
				<ul
					class="py-1 text-gray-700 dark:text-gray-300"
					aria-labelledby="dropdown"
				>
					<li>
						<form
							class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
							method="post"
							action="{% url 'account_logout' %}">
							{% csrf_token %}
							{% if redirect_field_value %}
								<input
									type="hidden"
									name="{{ redirect_field_name }}"
									value="{{ redirect_field_value }}"/>
							{% endif %}
							<button
								type="submit">Sign out
							</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
