{% load i18n %}
{% if is_valid %}
  {% include "recipes/partials/recipe_ingredient_detail.html" %}
{% endif %}
<form id='ingredientform' class="needs-validation">
  {% csrf_token %}
  <label for="ingredient" class="form-label">{% trans 'Adicionar ingrediente' %}</label>
  <div class="col-12">
    {% for hidden in ingredient_form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    {{ ingredient_form.non_field_errors }}
    <div class="row form-row spacer">
      <div class="col-12">
        <label for="name" class="form-label">{% trans 'Nome' %}</label>
        {{ ingredient_form.ingredient }}
        {{ ingredient_form.ingredient.name.errors }}
      </div>
      <div class="col-12">
        <label for="qtd" class="form-label">{% trans 'Quantidade' %}</label>
        {{ ingredient_form.qtd }}
        {{ ingredient_form.qtd.errors }}
      </div>
      <div class="col-12">
        <label for="metric_type" class="form-label">{% trans 'Metrica' %}</label>
        {{ ingredient_form.metric_type }}
        {{ ingredient_form.metric_type.errors }}
      </div>

    </div>
  </div>
  <button hx-post="{% url 'recipes:partial_add_recipeingredient' %}"
          hx-swap="outerHTML"
          hx-target="#ingredientform"
          class="w-100 btn btn-primary btn-lg"
          hx-include="[id='ingredient_detail']">
    {% trans 'Adicionar ingrediente' %}
  </button>
</form>
