{% load i18n %}
<form id="recipe_add_step_1" class="needs-validation" method="post">
  {% csrf_token %}
  <div class="row g-3">
    <div class="col-12">
      {{ form.title.errors }}
      <label for="{{ form.title.id_for_label }}" class="form-label">{% trans 'Título' %}</label>
      {{ form.title }}
    </div>
  </div>
  <div class="col-12">
    {{ form.description.errors  }}
    <label for="{{ form.description.id_for_label  }}" class="form-label">{% trans 'Descrição' %}</label>
    {{ form.description }}
  </div>
  <button hx-post="{% url 'recipes:partial_add_step_1' %}"
          hx-swap="outerHTML"
          hx-target="#recipe_add_step_1"
          class="w-100 btn btn-primary btn-lg">
    {% trans 'Proximo' %}
  </button>
</form>
