{% load i18n %}
<form id="recipe_add_step_2" class="needs-validation" method="post">
  {% csrf_token %}
  <div class="row g-3">
    <div class="col-12">
      {{ recipe_form.directions.errors }}
      <label for="{{ recipe_form.directions.id_for_label }}" class="form-label">{% trans 'Modo de preparo' %}</label>
      {{ recipe_form.directions }}
    </div>
  </div>
  <div class="col-12">
    {{ recipe_form.font.errors  }}
    <label for="{{ recipe_form.font.id_for_label  }}" class="form-label">{% trans 'Fonte' %}</label>
    {{ recipe_form.font }}
  </div>
  <button hx-post="{% url 'recipes:partial_add_step_2' recipe_slug %}"
          hx-swap="outerHTML"
          hx-target="#recipe_add_step_2"
          class="w-100 btn btn-primary btn-lg">
    {% trans 'Finalizar' %}
  </button>
</form>
