{% load i18n %}
<div id='ingredient_detail' hx-swap-oob="true">
  <h5 class="form-label">{% trans 'Ingredientes' %}</h5>
  {{ ingredient_formset_detail.management_form }}
  {% for detail in ingredient_detail %}
    <div id="{{ detail.ingredient.name }}-detail" class="ingredient-item-detail">
      <p>
        {{ detail.ingredient.name }} {{ detail.qtd }} {{ detail.metric_type }}
        <button
          type="button"
          class="w-100 btn btn-primary btn-sm"
          _="on click call removeIngredientElement('a{{ detail.ingredient.pk }}')
              then remove #{{ detail.ingredient.name }}-detail then tell #a{{ detail.ingredient.id }} remove yourself" >
          -
        </button>
      </p>
    </div>
  {% endfor %}
  {% for frm in ingredient_formset_detail %}
    <div id="a{{ frm.ingredient.value }}" class="ingredient-item-hidden">
      {% for fld in frm %}
        {{ fld.as_hidden }}
      {% endfor %}
    </div>
  {% endfor %}
<script>
  function removeIngredientElement(ingredientId) {
    document.querySelector("#id_form-INITIAL_FORMS").value--
    document.querySelector("#id_form-TOTAL_FORMS").value--
    let counter = 0
    // Remove hidden inputs
    for (let ing of document.querySelectorAll('.ingredient-item-hidden')) {
      console.log(ing.id)
      console.log(ingredientId)
      console.log(ing.id === ingredientId)
      if (ing.id === ingredientId) continue
      for (let hidd of ing.querySelectorAll('input')){
        hidd.name = hidd.name.replace(/-\d+-/, `-${counter}-`)
        hidd.id = hidd.id.replace(/-\d+-/, `-${counter}-`)
      }
      counter++
    }
  }
</script>
</div>
