{% load i18n %}

<div id="ingredient_edit" class="card">
  <div class="card-body">
    <h5 class="card-title">Ingrediente</h5>
    <form class="row g-3" method="post">
      {% csrf_token %}
      <!-- name -->
      <div class="col-12">
        <div class="form-floating">
          <input type="text" value="{{ form.name.value | default_if_none:'' }}" class="form-control"
                 name="{{ form.name.name }}" id="floatingName" placeholder="Título">
          <label for="floatingName">{{ form.name.label }}</label>
          {% for err in form.name.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ err }}
            </div>
          {% endfor %}
        </div>
      </div>
      <!-- qualifier -->
      <div class="col-12">
        <label class="col-form-label">Qualificadores</label>
        <div class="col-sm-10">
          <select name="{{ form.qualifiers.name }}" id="{{ form.qualifiers.id }}" class="form-select"
                  multiple="multiple"
                  aria-label="multiple select example">
            <option selected="">Escolha se necessário</option>
            {% for qualifier in form.qualifiers %}
              {{ qualifier }}
            {% endfor %}
          </select>
        </div>
      </div>
      <!-- button -->
      <div class="text-center">
        {% if form.instance.slug %}
          <button hx-post="{% url 'ingredients:update' form.instance.slug %}"
                  hx-swap="outerHTML"
                  hx-target="#ingredient_edit"
                  class="btn btn-primary">
          Salvar
        {% else %}
          <button hx-post="{% url 'ingredients:create' %}"
                  hx-swap="outerHTML"
                  hx-target="#ingredient_edit"
                  class="btn btn-primary">
            Salvar
          </button>
        {% endif %}
      </div>
    </form><!-- End floating Labels Form -->
  </div>
</div>
