{% extends base_template %}
{% load static %}
{% block content %}

    <section id='section' class="bg-white dark:bg-gray-900">
        <div class="py-8 px-16 mx-auto py-16">
            <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
                {% if update %}
                    Editar {{ recipe_form.instance.name | title }}
                {% else %}
                    Nova receita
                {% endif %}
            </h2>
            <form
                    {% if update %}
                        hx-put="{% url 'recipes:update' recipe_form.instance.slug %}"
                    {% else %}
                        hx-post="{% url 'recipes:create' %}"
                    {% endif %}
                        hx-swap="outerHTML"
                        hx-target="#section"
            >
                <div class="flex flex-col gap-4 ">
                    <!-- Title -->
                    <div class="w-1/2">
                        <label for="name" class="input-label">
                            {{ recipe_form.title.label }}
                        </label>
                        <input type="text"
                               name="{{ recipe_form.title.name }}"
                               id="name"
                                {% if recipe_form.title.errors %}
                               class="input-error"
                                {% else %}
                               class="input"
                                {% endif %}
                               value="{{ recipe_form.title.value | default_if_none:'' }}"
                               placeholder="{{ recipe_form.title.help_text }}"
                               required>
                        {% for err in recipe_form.title.errors %}
                            <p class="input-error-message">{{ err }}
                            </p>
                        {% endfor %}

                    </div>
                    <!-- description -->
                    <div class="sm:col-span-2">
                        <label for="description" class="input-label">
                            {{ recipe_form.description.label }}
                        </label>
                        <textarea id="description" rows="8"
                                  name="{{ recipe_form.description.name }}"
                                  value="{{ recipe_form.description.value }}"
                                {% if form.title.errors %}
                                  class="textarea-error"
                                {% else %}
                                  class="textarea"
                                {% endif %}
                                  placeholder="{{ recipe_form.description.help_text }}"
                                  required
                        >{{ recipe_form.description.value | default_if_none:'' }}</textarea>
                        {% for err in recipe_form.description.errors %}
                            <p class="input-error-message">{{ err }}
                            </p>
                        {% endfor %}

                    </div>

                    <!-- font -->
                    <div class="">
                        <label for="font" class="input-label">
                            {{ recipe_form.font.label }}
                        </label>
                        <input type="text"
                               id="font"
                               name="{{ recipe_form.font.name }}"
                               value="{{ recipe_form.font.value  | default_if_none:'' }}"
                                {% if form.title.errors %}
                               class="input-error"
                                {% else %}
                               class="input"
                                {% endif %}
                               placeholder="{{ recipe_form.font.help_text }}">

                    </div>
                    <!-- directions -->
                    <div class="sm:col-span-2">
                        <label for="directions" class="input-label">
                            {{ recipe_form.directions.label }}
                        </label>
                        <textarea id="directions" rows="8"
                                  name="{{ recipe_form.directions.name }}"
                                  value="{{ recipe_form.directions.value }}"
                                {% if form.title.errors %}
                                  class="textarea-error"
                                {% else %}
                                  class="textarea "
                                {% endif %}
                                  placeholder="{{ recipe_form.directions.help_text }}"
                                  required>{{ recipe_form.directions.value | default_if_none:'' }}</textarea>
                        {% for err in recipe_form.directions.errors %}
                            <p class="input-error-message">{{ err }}
                            </p>
                        {% endfor %}
                    </div>

                    <!-- Ingredients block -->
                    <div class="grid grid-cols-8 gap-1.5 sm:col-span-2 max-h-24">
                        <!-- Header -->
                        <span class="col-span-8 font-bold text-xl border-b-4 border-b-black">Ingredientes</span>
                        <span>Valor</span>
                        <span>Metrica</span>
                        <span class="col-span-2">Ingredient</span>
                        <span class="col-span-3">Qualificador</span>

                    </div>

                    <!-- ingredients:formset -->
                    <div
                            class="flex flex-col"
                            x-data="{
                                    showRemoveButton:  document.querySelectorAll('.ingredient-template').length > 1,
                                    calculateShowRemoveButton(){
                                        this.showRemoveButton = document.querySelectorAll('.ingredient-template').length > 1
                                    }

                            }"
                    >
                        <div
                                id="ingredient_group"
                        >

                            {{ ingredient_formset.management_form }}
                            {% for ingredient_form in ingredient_formset %}
                                <div
                                        x-data="{
                                     // show or not the Remove ingredient button
                                    // showRemoveButton: document.querySelectorAll('.ingredient-template').length > 1,
                                     // Remove this ingredient form from the dom
                                     selfRemove() {
                                        $el.remove()
                                        this.calculateShowRemoveButton()
                                     },
                                    }"
                                        id="{{ ingredient_form.prefix }}"
                                        class="grid grid-cols-8 gap-1.5 sm:col-span-2 max-h-32 ingredient-template
                                border-y py-2">
                                    <!-- qtd -->
                                    <div>
                                        <input type="number"
                                               name="{{ ingredient_form.qtd.html_name }}"
                                               value="{{ ingredient_form.qtd.value }}"
                                               class="input"
                                               placeholder="0"
                                               required/>
                                    </div>
                                    <!-- metric -->
                                    <div>
                                        <select
                                                name="{{ ingredient_form.metric.html_name }}"
                                                class="input">
                                            {% for choice in ingredient_form.metric %}
                                                {{ choice }}
                                            {% endfor %}

                                        </select>
                                    </div>
                                    <!-- ingredient -->
                                    <div class="col-span-2 flex w-full">
                                        <div
                                                x-data="{
                                    open: false,
                                    label: '{{ ingredient_form.instance.ingredient.name | title | default:"Selecione..." }}',
                                    selectedId: 0,
                                    select(el) {
                                        this.label = el.innerText
                                        this.selectedId = el.id
                                        this.toggle()
                                    },
                                    toggle() {
                                        if (this.open) {
                                            return this.close()
                                        }
                                        this.$refs.button.focus()
                                        this.open = true
                                    },
                                    close(focusAfter) {
                                        if (! this.open) return
                                        this.open = false
                                        focusAfter && focusAfter.focus()
                                    }
                                    }"
                                                x-on:keydown.escape.prevent.stop="close($refs.button)"
                                                x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
                                                class="relative w-full"
                                        >
                                            <!-- ingredient:the value to be post -->
                                            <input
                                                    type="hidden"
                                                    :value="selectedId"
                                                    name="{{ ingredient_form.ingredient.html_name }}"
                                            >
                                            <!-- ingredient:button -->
                                            <button
                                                    x-ref="button"
                                                    x-on:click="toggle()"
                                                    :aria-expanded="open"
                                                    type="button"
                                                    x-text="label"
                                                    class="flex items-center justify-between bg-gray-50 border border-gray-300
                                               w-full rounded-full p-2 pl-4 font-light overflow-y-scroll">

                                            </button>

                                            <!-- ingredient:panel -->
                                            <div
                                                    x-ref="panel"
                                                    x-show="open"
                                                    x-transition.origin.top.left
                                                    x-on:click.outside="close($refs.button)"
                                                    style="display: none;"
                                                    class="absolute left-0 mt-2 w-full rounded-md bg-white
                                                p-2 shadow-md z-10"
                                            >
                                                <input
                                                        type="text"
                                                        name="search"
                                                        hx-get="{% url 'ingredients:search' %}"
                                                        hx-params="search"
                                                        hx-trigger="input changed delay:500ms, search, load"
                                                        hx-target="#ingredient-search-results-{{ ingredient_form.prefix }}"
                                                        hx-swap="innerHTML"
                                                        class="input w-full"
                                                        autocomplete="off"
                                                >


                                                <!-- ingredient:search_result -->
                                                <div id="ingredient-search-results-{{ ingredient_form.prefix }}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Qualifiers -->
                                    <div class="grid grid-cols-2 col-span-3 gap-2 bg-gray-50 border border-gray-300
                                    rounded-md p-2 font-light overflow-y-scroll max-h-24">
                                        {% for qualifier in ingredient_form.qualifiers %}
                                            <div>
                                                <input type="checkbox"
                                                       name="{{ ingredient_form.qualifiers.html_name }}"
                                                       value="{{ qualifier.data.value }}">
                                                <label for="langs_ruby">{{ qualifier.choice_label | title }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- Remove button -->
                                    <button type="button"
                                            class="btn-red h-fit"
                                            x-show="showRemoveButton"
                                            x-on:click="selfRemove">

                                        Remover
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Add ingredient button -->
                        <button x-data="{
                            // o container dos formularios
                            ingredientGroup: document.getElementById('ingredient_group'),
                            // Seleciona o primeiro formulario como template
                            ingredientTemplate: document.querySelector('.ingredient-template'),
                            addIngredient(){
                            // Quantidade de formulario de ingredientes
                                let totalForms = document.getElementById('id_ingredients-TOTAL_FORMS')
                                // clona o primeiro formulario
                                let newIngredientForm = this.ingredientTemplate.cloneNode(true)
                                // substitui ingredients-0 para ingredients-'totalFormsValue'
                                let totalFormsValue = Number(totalForms.value)
                                // todo limpar formulario
                                newIngredientForm.innerHTML = newIngredientForm.innerHTML
                                .replaceAll('ingredients-0', 'ingredients-' + totalFormsValue )
                                // incrementa o totalForms
                                totalFormsValue += 1
                                totalForms.value = totalFormsValue
                                // adiciona o novo formulario no container de formularios
                                this.ingredientGroup.appendChild(newIngredientForm)
                                // mostrar ou nao o botao de remover ingredient
                                this.calculateShowRemoveButton()

                            }
                            }"
                                x-on:click="addIngredient"
                                type="button"
                                class="btn w-fit self-end mt-2">
                            Adicionar ingrediente
                        </button>
                    </div>

                </div>
                <!-- submit button -->
                <button
                        type="submit"
                        class="btn mt-4">
                    Inserir receita
                </button>
            </form>
        </div>
    </section>
{% endblock content %}