{% extends base_template %}
{% load static %}
{% block content %}
    <section id="detail" class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
                <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white font-extrabold">
                    {{ recipe.title }}
                </h2>
                <p class="mb-4 font-light">{{ recipe.description }}</p>
                <p class="mb-4 text-xl text-gray-800 font-semibold">Ingredientes</p>
                {% for ingredient in recipe.ingredients.all %}
                    <p class="flex gap-2 mb-2 font-medium ">
                        <input type="checkbox" class="peer">
                    <span class="peer-checked:line-through decoration-double">
                        {{ ingredient }}
                    </span>
                    </p>
                {% endfor %}
                <p class="mb-4 text-xl text-gray-800 font-semibold">Preparo</p>
                <p class="mb-4 ">{{ recipe.directions }}</p>
                <a href="#"
                   class="font-medium text-blue-600 hover:underline"
                   hx-get="{% url 'recipes:update' recipe.slug %}"
                   hx-swap="outerHTML"
                   hx-target="#detail"
                   hx-push-url="true"
                >
                    Editar Receita
                </a>
            </div>
        </div>
    </section>
{% endblock content %}
