{% load i18n %}
<div id='metric_conversion'>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Tabela de Conversão de Medidas</h5>

      <h3>Farinha de trigo</h3>
      <table class="table table-striped" class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>120 gramas</td>
          <td>1 xícara (chá)</td>
        </tr>
        <tr>
          <td>60 gramas</td>
          <td>1/2 xícara (chá)</td>
        </tr>
        <tr>
          <td>30 gramas</td>
          <td>1/4 xícara (chá)</td>
        </tr>
        <tr>
          <td>7,5 gramas</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>2,5 gramas</td>
          <td>1 colher (chá)</td>
        </tr>
      </table>

      <h3>Queijo ralado</h3>
      <table class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>80 gramas</td>
          <td>1 xícara (chá)</td>
        </tr>
        <tr>
          <td>5 gramas</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>1,5 gramas</td>
          <td>1 colher (chá)</td>
        </tr>
      </table>

      <h3>Mel</h3>
      <table class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>300 gramas</td>
          <td>1 xícara (chá)</td>
        </tr>
        <tr>
          <td>150 gramas</td>
          <td>1/2 xícara (chá)</td>
        </tr>
        <tr>
          <td>75 gramas</td>
          <td>1/4 xícara (chá)</td>
        </tr>
        <tr>
          <td>18 gramas</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>6 gramas</td>
          <td>1 colher (chá)</td>
        </tr>
      </table>
      <h3>Aveia em flocos</h3>
      <table class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>80 gramas</td>
          <td>1 xícara (chá)</td>
        </tr>
        <tr>
          <td>40 gramas</td>
          <td>1/2 xícara (chá)</td>
        </tr>
        <tr>
          <td>20 gramas</td>
          <td>1/4 xícara (chá)</td>
        </tr>
        <tr>
          <td>5 gramas</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>1,5 gramas</td>
          <td>1 colher (chá)</td>
        </tr>
      </table>
      <h3>Ovo</h3>
      <table class="table table-striped">
        <tr>
          <th>Tipo</th>
          <th>Quantidade</th>
        </tr>
        <tr>
          <td>Ovo médio</td>
          <td>50 gramas</td>
        </tr>
        <tr>
          <td>Clara de ovo</td>
          <td>30 gramas</td>
        </tr>
        <tr>
          <td>Gema de ovo</td>
          <td>20 gramas</td>
        </tr>
      </table>

      <h3>Manteiga</h3>
      <table class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>200 gramas</td>
          <td>1 xícara (chá)</td>
        </tr>
        <tr>
          <td>100 gramas</td>
          <td>1/2 xícara (chá)</td>
        </tr>
        <tr>
          <td>50 gramas</td>
          <td>1/4 xícara (chá)</td>
        </tr>
        <tr>
          <td>10 gramas</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>4 gramas</td>
          <td>1 colher (chá)</td>
        </tr>
      </table>

      <h3>Chocolate ou cacau em pó</h3>
      <table class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>90 gramas</td>
          <td>1 xícara (chá)</td>
        </tr>
        <tr>
          <td>45 gramas</td>
          <td>1/2 xícara (chá)</td>
        </tr>
        <tr>
          <td>22,5 gramas</td>
          <td>1/4 xícara (chá)</td>
        </tr>
        <tr>
          <td>6 gramas</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>2 gramas</td>
          <td>1 colher (chá)</td>
        </tr>
      </table>

      <h3>Farinha de Mandioca</h3>
      <table class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>150 gramas</td>
          <td>1 xícara (chá)</td>
        </tr>
        <tr>
          <td>9 gramas</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>3 gramas</td>
          <td>1 colher (chá)</td>
        </tr>
      </table>

      <h3>Farinha de Rosca</h3>
      <table class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>80 gramas</td>
          <td>1 xícara (chá)</td>
        </tr>
        <tr>
          <td>5 gramas</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>1.5 gramas</td>
          <td>1 colher (chá)</td>
        </tr>
      </table>
      <h3>Açúcar refinado</h3>
      <table class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>180 gramas</td>
          <td>1 xícara (chá)</td>
        </tr>
        <tr>
          <td>90 gramas</td>
          <td>1/2 xícara (chá)</td>
        </tr>
        <tr>
          <td>45 gramas</td>
          <td>1/4 xícara (chá)</td>
        </tr>
        <tr>
          <td>12 gramas</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>4 gramas</td>
          <td>1 colher (chá)</td>
        </tr>
      </table>

      <h3>Açúcar cristal</h3>
      <table class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>200 gramas</td>
          <td>1 xícara (chá)</td>
        </tr>
        <tr>
          <td>100 gramas</td>
          <td>1/2 xícara (chá)</td>
        </tr>
        <tr>
          <td>50 gramas</td>
          <td>1/4 xícara (chá)</td>
        </tr>
        <tr>
          <td>13.5 gramas</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>4.5 gramas</td>
          <td>1 colher (chá)</td>
        </tr>
      </table>

      <h3>Açúcar de confeiteiro</h3>
      <table class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>140 gramas</td>
          <td>1 xícara (chá)</td>
        </tr>
        <tr>
          <td>70 gramas</td>
          <td>1/2 xícara (chá)</td>
        </tr>
        <tr>
          <td>35 gramas</td>
          <td>1/4 xícara (chá)</td>
        </tr>
        <tr>
          <td>9.5 gramas</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>3 gramas</td>
          <td>1 colher (chá)</td>
        </tr>
      </table>

      <h3>Amido de milho</h3>
      <table class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>150 gramas</td>
          <td>1 xícara (chá)</td>
        </tr>
        <tr>
          <td>75 gramas</td>
          <td>1/2 xícara (chá)</td>
        </tr>
        <tr>
          <td>37.5 gramas</td>
          <td>1/4 xícara (chá)</td>
        </tr>
        <tr>
          <td>9 gramas</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>3 gramas</td>
          <td>1 colher (chá)</td>
        </tr>
      </table>

      <h3>Açúcar mascavo</h3>
      <table class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>150 gramas</td>
          <td>1 xícara (chá)</td>
        </tr>
        <tr>
          <td>75 gramas</td>
          <td>1/2 xícara (chá)</td>
        </tr>
        <tr>
          <td>37.5 gramas</td>
          <td>1/4 xícara (chá)</td>
        </tr>
        <tr>
          <td>10 gramas</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>3.5 gramas</td>
          <td>1 colher (chá)</td>
        </tr>
      </table>
      <h3>Aveia em flocos</h3>
      <table class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>80 gramas</td>
          <td>1 xícara (chá)</td>
        </tr>
        <tr>
          <td>40 gramas</td>
          <td>1/2 xícara (chá)</td>
        </tr>
        <tr>
          <td>20 gramas</td>
          <td>1/4 xícara (chá)</td>
        </tr>
        <tr>
          <td>5 gramas</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>1.5 gramas</td>
          <td>1 colher (chá)</td>
        </tr>
      </table>

      <h3>Fermentos</h3>
      <table class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>10 gramas de fermento biológico seco</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>5 gramas de fermento biológico seco</td>
          <td>1/2 colher (sopa)</td>
        </tr>
        <tr>
          <td>10 gramas de fermento biológico seco</td>
          <td>1 envelope</td>
        </tr>
        <tr>
          <td>15 gramas de fermento biológico fresco</td>
          <td>1 tablete</td>
        </tr>
        <tr>
          <td>14 gramas de fermento químico (ou bicarbonato de sódio)</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>5 gramas de fermento químico (ou bicarbonato de sódio)</td>
          <td>1 colher (chá)</td>
        </tr>
        <tr>
          <td>10 gramas de fermento biológico seco</td>
          <td>30g de fermento biológico fresco</td>
        </tr>
      </table>

      <h3>Líquidos (água, óleos, chás, sucos, leite, creme de leite fresco, bebidas alcoólicas etc.)</h3>
      <table class="table table-striped">
        <tr>
          <th>Quantidade</th>
          <th>Medida</th>
        </tr>
        <tr>
          <td>240 gramas</td>
          <td>240 ml</td>
          <td>1 xícara (chá)</td>
        </tr>
        <tr>
          <td>120 gramas</td>
          <td>120 ml</td>
          <td>1/2 xícara (chá)</td>
        </tr>
        <tr>
          <td>60 gramas</td>
          <td>60 ml</td>
          <td>1/4 xícara (chá)</td>
        </tr>
        <tr>
          <td>15 gramas</td>
          <td>15 ml</td>
          <td>1 colher (sopa)</td>
        </tr>
        <tr>
          <td>5 gramas</td>
          <td>5 ml</td>
          <td>1 colher (chá)</td>
        </tr>
      </table>


    </div>
  </div>
</div>
