{% load i18n %}
<div id='recipe_add_step_2'>
  <!-- RecipeIngredient list -->
  <div class="card">
    <div class="card-body" id="ingredient-detail">
      <h5 class="card-title">Ingredientes Adicionados</h5>
      <ul class="list-group list-group-flush">
        {% for detail in ingredients %}
          <li class="list-group-item">{{ detail.ingredient.name | title }} {{ detail.qtd }} {{ detail.metric }}
            {% for qualificator in detail.qualifiers.all  %}
              {{ qualificator.name }},

            {% endfor %}

            <button
              class="btn btn-danger btn-sm float-end "
              hx-delete="{% url 'recipes:partial_remove_recipeingredient' detail.pk %}"
              hx-swap="outerHTML"
              hx-target="#recipe_add_step_2"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            ><i class="bi-dash-circle"></i></button>
          </li>

        {% endfor %}
      </ul><!-- End Clean list group -->

    </div>
  </div>
  <!-- Card RecipeIngredient Form -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ingredientes</h5>
      <form class="row g-3" method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        {{ form.non_field_errors }}
        <!-- ingredient -->
        <div class="form-floating mb-3 col-12">
          <select class="form-select" name="{{ form.ingredient.name }}" id="floatingSelect"
                  aria-label="Ingrediente">
            {% for choice in form.ingredient %}
              {{ choice }}
            {% endfor %}
          </select>
          <label for="floatingSelect">Ingrediente</label>
          {% for err in form.ingredient.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ err }}
            </div>
          {% endfor %}
        </div>
        <!-- qtd -->
        <div class="col-md-4">
          <div class="form-floating">
            <input type="number" value="{{ form.qtd.value }}" name="{{ form.qtd.name }}"
                   class="form-control" id="floatingName" placeholder="">
            <label for="floatingName">{{ form.qtd.label }}</label>
            {% for err in form.qtd.errors %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ err }}
              </div>
            {% endfor %}
          </div>
        </div>
        <!-- metric_type -->
        <div class="form-floating mb-3 col-md-8">
          <select class="form-select" name="{{ form.metric.name }}" id="floatingSelect"
                  aria-label="Metrica">
            {% for choice in form.metric %}
              {{ choice }}
            {% endfor %}
          </select>
          <label for="floatingSelect">{{ form.metric.label }}</label>
          {% for err in form.metric.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ err }}
            </div>
          {% endfor %}
        </div>
        <!-- qualifier -->
        <div class="col-12">
          <label class="col-form-label">Qualificadores, se necessário</label>
          <div class="col-sm-10">
            <select name="{{ form.qualifiers.name }}" id="" class="form-select"
                    multiple="multiple"
                    aria-label="multiple select example">
              {% for qualifier in form.qualifiers %}
                {{ qualifier }}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="text-lg-start col-md">
          <button hx-post="{% url 'recipes:partial_add_step_2' recipe_slug %}"
                  hx-swap="outerHTML"
                  hx-target="#recipe_add_step_2"
                  class="btn btn-primary">
            Adicionar ingrediente
          </button>
        </div>
        <div class="text-lg-end col-md">
          <button hx-get="{% url 'recipes:partial_add_step_3' recipe_slug %}"
                  hx-swap="outerHTML"
                  hx-target="#recipe_add_step_2"
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                  class="btn btn-primary">
            Próximo passo
          </button>
        </div>
      </form><!-- End floating Labels Form -->
    </div>
  </div>
</div>
{% include "recipes/partials/metric_conversion.html" %}
