{% load i18n %}
<div id="recipe_add_step_1" class="card">
  <div class="card-body">
    <h5 class="card-title">Informações basicas</h5>

    <!-- Floating Labels Form -->
    <form class="row g-3" method="post">
      {% csrf_token %}
      <div class="col-md-12">
        <div class="form-floating">
          <input type="text" value="{{ form.title.value | default_if_none:'' }}" class="form-control"
                 name="{{ form.title.name }}" id="floatingName" placeholder="Título">
          <label for="floatingName">{{ form.title.label }}</label>
          {% for err in form.title.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ err }}
            </div>
          {% endfor %}

        </div>
      </div>
      <div class="col-12">
        <div class="form-floating">
          <textarea class="form-control" value="{{ form.description.value }}" placeholder="Descrição"
                    name="{{ form.description.name }}" id="floatingTextarea" style="height: 100px;"></textarea>
          <label for="floatingTextarea">{{ form.description.label }}</label>
          {% for err in form.description.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ err }}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-floating">
          <input type="text" value="{{ form.font.value | default_if_none:'' }}" class="form-control"
                 name="{{ form.font.name }}" id="floatingName" placeholder="Título">
          <label for="floatingName">{{ form.font.label }}</label>
          {% for err in form.font.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ err }}
            </div>
          {% endfor %}

        </div>
      </div>
      <div class="text-center">
        <button hx-post="{% url 'recipes:partial_add_step_1' %}"
                hx-swap="outerHTML"
                hx-target="#recipe_add_step_1"
                class="btn btn-primary">
          Próximo passo
        </button>
      </div>
    </form><!-- End floating Labels Form -->
  </div>
</div>
