{% load i18n %}
<div id='ingredient_partial' >
  {% for detail in ingredients %}
    <div id="{{ detail.ingredient.name }}-detail" class="ingredient-item-detail">
      <p>
        {{ detail.ingredient.name }} {{ detail.qtd }} {{ detail.metric_type }}
        <button
          type="button"
          class="w-100 btn btn-primary btn-sm"
          _="on click call removeIngredientElement('a{{ detail.ingredient.pk }}')
              then remove #{{ detail.ingredient.name }}-detail then tell #a{{ detail.ingredient.id }} remove yourself">
          -
        </button>
      </p>
    </div>
  {% endfor %}
  <form id='ingredientform' class="needs-validation">
    {% csrf_token %}
    <label for="ingredient" class="form-label">{% trans 'Adicionar ingrediente' %}</label>
    <div class="col-12">
      {% for hidden in ingredient_form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {{ ingredient_form.non_field_errors }}
      <div class="row form-row spacer">
        <div class="col-12">
          {{ ingredient_form.ingredient.name.errors }}
          <label for="name" class="form-label">{% trans 'Nome' %}</label>
          {{ ingredient_form.ingredient }}
        </div>
        <div class="col-12">
          {{ ingredient_form.qtd.errors }}
          <label for="qtd" class="form-label">{% trans 'Quantidade' %}</label>
          {{ ingredient_form.qtd }}
        </div>
        <div class="col-12">
          {{ ingredient_form.metric_type.errors }}
          <label for="metric_type" class="form-label">{% trans 'Metrica' %}</label>
          {{ ingredient_form.metric_type }}
        </div>

      </div>
    </div>
    <button hx-post="{% url 'recipes:partial_add_recipeingredient' recipe_slug %}"
            hx-swap="outerHTML"
            hx-target="#ingredient_partial"
            class="w-100 btn btn-primary btn-lg">
      {% trans 'Adicionar ingrediente' %}
    </button>
  </form>
</div>
