{% load i18n %}
<div id='recipe_add_ingredient' class='row g-3' >
  <!-- Ingredientes Adicionados -->
  <div class="col-md-12">
    <div class="form-floating">
      <h5 class="card-title">Ingredientes</h5>
      <ul class="list-group list-group-flush">
        {% for detail in ingredients %}
          <li class="list-group-item">{{ detail.ingredient.name | title }} {{ detail.qtd }} {{ detail.metric }}
            {% for qualificator in detail.qualifiers.all %}
              {{ qualificator.name }},
            {% endfor %}
            <button
              class="btn btn-danger btn-sm float-end "
            ><i class="bi-dash-circle"></i></button>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- Formulario para adicionar Ingrediente -->

  <!-- ingredient -->
  <div class="form-floating mb-3 col-12">
    <select class="form-select" name="{{ ingredient_form.ingredient.name }}" id="floatingSelect"
            aria-label="Ingrediente">
      {% for choice in ingredient_form.ingredient %}
        {{ choice }}
      {% endfor %}
    </select>
    <label for="floatingSelect">Ingrediente</label>
    {% for err in ingredient_form.ingredient.errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ err }}
      </div>
    {% endfor %}
  </div>
  <!-- qtd -->
    <div class="form-floating col-md-4">
      <input type="number" value="{{ ingredient_form.qtd.value }}" name="{{ ingredient_form.qtd.name }}"
             class="form-control" id="floatingName" placeholder="">
      <label for="floatingName">{{ ingredient_form.qtd.label }}</label>
      {% for err in ingredient_form.qtd.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ err }}
        </div>
      {% endfor %}
    </div>
  <!-- metric_type -->
  <div class="form-floating mb-3 col-md-8">
    <select class="form-select" name="{{ ingredient_form.metric.name }}" id="floatingSelect"
            aria-label="Metrica">
      {% for choice in ingredient_form.metric %}
        {{ choice }}
      {% endfor %}
    </select>
    <label for="floatingSelect">{{ ingredient_form.metric.label }}</label>
    {% for err in ingredient_form.metric.errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ err }}
      </div>
    {% endfor %}
  </div>
  <!-- qualifier -->
  <div class="col-12">
    <label class="col-form-label">Qualificadores, se necessário</label>
    <div class="col-sm-10">
      <select name="{{ ingredient_form.qualifiers.name }}" id="" class="form-select"
              multiple="multiple"
              aria-label="multiple select example">
        {% for qualifier in ingredient_form.qualifiers %}
          {{ qualifier }}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="text-lg-end col-md">
    <button
      class="btn btn-primary">
      Adicionar ingrediente
    </button>
  </div>
</div>
