{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Login</h5>

      <!-- Vertical Form -->
      <form class="row g-3" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        {{ form.non_field_errors }}
        <!-- Username -->
        <div class="col-12">
          <label for="inputName" class="form-label">Usuário</label>
          <input type="text" value="{{ form.login.value | default_if_none:'' }}"
                 name={{ form.login.name }} class="form-control" id="inputName">
          {% for err in form.login.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ err }}
            </div>
          {% endfor %}
        </div>
        <!-- Password -->
        <div class="col-12">
          <label for="inputPassword" class="form-label">Senha</label>
          <input type="password" value="{{ form.password.value  | default_if_none:'' }}" name="{{ form.password.name }}"
                 class="form-control" id="inputPassword">
          {% for err in form.password.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ err }}
            </div>
          {% endfor %}
        </div>
        <!-- Remember me -->
        <div class="col-sm-10 offset-sm-2">
          <div class="form-check">
            <input class="form-check-input" value="{{ form.remember.value }}" name="{{ form.remember.name }}"
                   type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Lembre-se de mim.
            </label>
          </div>
        </div>
        <!-- Forgot password -->
        <div class="col-sm-10 offset-sm-2">
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Esqueceu a senha?</a>
        </div>
        <div class="text-center">
          <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        </div>
      </form><!-- Vertical Form -->

    </div>
  </div>
{% endblock %}
