{% extends "ingredients/base_ingredients.html" %}

{% load i18n %}
{% block content %}

  <div class="container">
    <main>
      <div class="row g-5">
        <div class="col-md-7 col-lg-8">
          {% if form.instance.slug %}
            <h4 class="mb-3">Atualizar ingrediente</h4>
          {% else %}
            <h4 class="mb-3">Novo ingrediente</h4>
          {% endif %}
          <!-- form-->
          {% include "ingredients/partials/ingredient_edit_partial.html" %}
          <!-- End form-->
        </div>
      </div>
    </main>
  </div>

{% endblock %}
