{% extends "recipes/base_recipes.html" %}

{% block content %}
  <h2>Receitas</h2>
  <div class="row align-items-top">
    <form class="col-md-4" method="GET" action="#">
      <div class="input-group search-bar mb-3">
        {% csrf_token %}
        <input type="text" value="{{ filter.form.title.value }}" name="{{ filter.form.title.name }}" class="form-control" aria-label="Amount (to the nearest dollar)">
     <button type="submit" class="input-group-text" title="Search"><i class="bi bi-search"></i></button>
      </div>
    </form>
  </div>

  <!-- start list recipes -->
  <div class="row align-items-top">
    {% for recipe in page_obj %}
      <div class="col-lg-6">

        <!-- Default Card -->
        <div class="card">
          <div class="card-body">
            <a href="{% url 'recipes:detail' recipe.slug %}"><h5 class="card-title">{{ recipe.title | title }}</h5></a>

            {{ recipe.description | truncatechars:100 }}
          </div>
        </div><!-- End Default Card -->

      </div>
    {% endfor %}
  </div>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1&name={{ filter.form.name.value|default_if_none:'' }}">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}&name={{ filter.form.name.value|default_if_none:'' }}">previous</a>
        {% endif %}

      <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&name={{ filter.form.name.value|default_if_none:'' }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}&name={{ filter.form.name.value|default_if_none:'' }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
  <!-- end list recipes -->

{% endblock %}
