{% extends "recipes/base_recipes.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <h4 class="card-header">
                {{ recipe.title }}
            </h4>
            <div class="card-body">
                <p class="card-text">
              <h5>Ingredientes:</h5>
                <ul>
                    {% for i in ingredient_list %}
                    <li>{{ i.ingredient.name }} {{ i.qtd }} {{ i.metric_type }}</li>
                    {% endfor %}
                </ul>

              <h5>Preparo:</h5>
                <p>{{ recipe.directions }}</p>
              <h5>Fonte:</h5>
              <p>{{ recipe.font }}</p>
            </div>
            <div class="card-footer">
                {% if user == recipe.created_by %}
                <a href="{% url 'recipes:delete' recipe.id %}"><h5>Remover</h5></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
