{% extends "recipes/base_recipes.html" %}

{% block content %}
  <h2>Receitas</h2>
  <!-- filter -->
  <div class="row align-items-top">
    <form class="col-md-4" method="GET" action="#">
      <div class="input-group search-bar mb-3">
        {% csrf_token %}
        <input type="text" name="{{ filter.form.title.name }}"
               class="form-control" aria-label="Amount (to the nearest dollar)">
        <button type="submit" class="input-group-text" title="Search"><i class="bi bi-search"></i></button>
      </div>
    </form>
  </div>
  <!-- end filter -->

  <!-- start list recipes -->

  <div class="row align-items-top">
    {% for recipe in page_obj %}
      <div class="col-lg-6">

        <!-- Default Card -->
        <div class="card">
          <div class="card-body">
            <a href="{% url 'recipes:detail' recipe.slug %}"><h5 class="card-title">{{ recipe.title | title }}</h5></a>

            {{ recipe.description | truncatechars:100 }}
          </div>
        </div><!-- End Default Card -->

      </div>
    {% endfor %}
  </div>

  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link"
           href="?page={{ page_obj.previous_page_number }}&name={{ filter.form.name.value|default_if_none:'' }}"
           tabindex="-1" aria-disabled="true">Anterior</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
      </li>
    {% endif %}

    <li class="page-item page-link">
      Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </li>
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link"
           href="?page={{ page_obj.next_page_number }}&name={{ filter.form.name.value|default_if_none:'' }}">Próximo</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Próximo</a>
      </li>
    {% endif %}
  </ul>
  <!-- end pagination -->
  <!-- end list recipes -->
{% endblock %}
