{% extends "ingredients/base_ingredients.html" %}

{% block content %}
  <h2>Ingredients</h2>
  <form action="" class="form-inline mr-auto w-100 navbar-search" id="search_form" method="get">
    {% csrf_token %}
    <div class="input-group col-12">
      {{ filter.form.name }}
        <div class="row form-row spacer">
        <div class="">
        <div class="col-12">
          <div class="input-group">
            <button class="btn btn-primary add-form-row" type="submit">
              Buscar
            </button>
          </div>

        </div>
      </div>
    </div>
  </form>

  <table class="table table-striped ">
    {% for ingredient in page_obj %}
      <tr>
        <th><a href="{% url 'ingredients:detail' ingredient.slug %}"><h5>{{ ingredient.name }}</h5></a></th>
      </tr>
    {% endfor %}
  </table>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1&name={{ filter.form.name.value|default_if_none:'' }}">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}&name={{ filter.form.name.value|default_if_none:'' }}">previous</a>
        {% endif %}

      <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&name={{ filter.form.name.value|default_if_none:'' }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}&name={{ filter.form.name.value|default_if_none:'' }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>


{% endblock %}
