@import "tailwindcss";
@import "../../../node_modules/flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../../../node_modules/flowbite";

@theme {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

}
@custom-variant dark (&:where(.dark, .dark *));
@layer components {

    /* inputs */
    .input {
        @apply bg-gray-50 pl-4 border border-gray-300 text-gray-900 text-sm rounded-full
        focus:ring-lime-600 focus:border-lime-600 block w-full p-2.5;
    }

    .input-error {
        @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700
        pl-4 text-sm rounded-full focus:ring-red-500 focus:border-red-500
        block w-full p-2.5
        dark:bg-gray-700 dark:border-red-500 dark:placeholder-red-500
        dark:text-red-500 dark:focus:ring-red-500 dark:focus:border-red-500;
    }

    .input-label {
        @apply block mb-2 text-sm font-medium pl-4 text-gray-900 dark:text-white;
    }

    .input-label-error {
        @apply block mb-2 text-sm font-medium pl-4 text-red-700 dark:text-red-500;
    }

    .input-error-message {
        @apply mt-2 text-sm text-red-600 dark:text-red-500;
    }

    /* textarea */
    .textarea {
        @apply bg-gray-50 pl-4 border border-gray-300 text-gray-900 text-sm rounded-2xl
        focus:ring-lime-600 focus:border-lime-600 block w-full p-2.5
        dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
        dark:text-white dark:focus:ring-lime-500 dark:focus:border-lime-500;
    }

    .textarea-error {
        @apply bg-red-50 pl-4 border border-red-500 text-red-900 placeholder-red-700 rounded-2xl
        focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5;
    }


    /* buttons */
    .btn {
        @apply text-white inline-flex items-center bg-lime-700 hover:bg-lime-800 focus:ring-4
        focus:outline-none focus:ring-lime-300 font-medium rounded-full text-sm px-5 py-2.5
        text-center;
    }

    .btn-red {
        @apply text-white inline-flex items-center bg-red-700 hover:bg-red-800 focus:ring-red-300
        focus:outline-none focus:ring-lime-300 font-medium rounded-full text-sm px-5 py-2.5
        text-center;
    }
}
